In [21]:
import pandas as pd
import numpy as np

#load data from the SIMCE 4th grade results from 2014 to 2024 (2019, 2020 and 2021 no test was applied)

#loads data from 2014
df_simce_2014 = pd.read_excel('RBDSimce4toBasico2014-2024.xlsx', sheet_name='2014')

#loads data from 2015
df_simce_2015 = pd.read_excel('RBDSimce4toBasico2014-2024.xlsx', sheet_name='2015')

#loads data from 2016
df_simce_2016 = pd.read_excel('RBDSimce4toBasico2014-2024.xlsx', sheet_name='2016')

#loads data from 2017
df_simce_2017 = pd.read_excel('RBDSimce4toBasico2014-2024.xlsx', sheet_name='2017')

#loads data from 2018
df_simce_2018 = pd.read_excel('RBDSimce4toBasico2014-2024.xlsx', sheet_name='2018')

#loads data from 2022
df_simce_2022 = pd.read_excel('RBDSimce4toBasico2014-2024.xlsx', sheet_name='2022')

#loads data from 2023
df_simce_2023 = pd.read_excel('RBDSimce4toBasico2014-2024.xlsx', sheet_name='2023')

#loads data from 2024
df_simce_2024 = pd.read_excel('RBDSimce4toBasico2014-2024.xlsx', sheet_name='2024')

/Users/diegosarricolea/miniconda3/envs/vis/lib/python3.14/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/Users/diegosarricolea/miniconda3/envs/vis/lib/python3.14/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/Users/diegosarricolea/miniconda3/envs/vis/lib/python3.14/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/Users/diegosarricolea/miniconda3/envs/vis/lib/python3.14/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/Users/diegosarricolea/miniconda3/envs/vis/lib/python3.14/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/Users/diegosarricolea/miniconda3/envs/vis/lib/python3.14/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/Users/diegosarricolea/miniconda3/envs/vis/lib/python3.14/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
/Users/diegosarricolea/miniconda3/envs/vis/lib/python3.14/site-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [22]:
#count columns from data from 2014 to 2024 and check if they are the same
columns_2014 = set(df_simce_2014.columns)
columns_2015 = set(df_simce_2015.columns)
columns_2016 = set(df_simce_2016.columns)
columns_2017 = set(df_simce_2017.columns)
columns_2018 = set(df_simce_2018.columns)
columns_2022 = set(df_simce_2022.columns)
columns_2023 = set(df_simce_2023.columns)
columns_2024 = set(df_simce_2024.columns)
common_columns = columns_2014 & columns_2015 & columns_2016 & columns_2017 & columns_2018 & columns_2022 & columns_2023 & columns_2024
print(f'Common columns across all years: {common_columns}')
print(f'Number of common columns: {len(common_columns)}')
#merge all dataframes into a single dataframe if columns are the same
if len(common_columns) == len(columns_2014):
    df_simce_all_years = pd.concat([df_simce_2014, df_simce_2015, df_simce_2016, df_simce_2017, df_simce_2018, df_simce_2019, df_simce_2022, df_simce_2023, df_simce_2024], ignore_index=True)
    print('Dataframes merged successfully.')
else:
    print('Columns do not match across all years. Cannot directly merge dataframes.')
    #show columns that are different
    different_columns = {
        '2014': columns_2014 - common_columns,
        '2015': columns_2015 - common_columns,
        '2016': columns_2016 - common_columns,
        '2017': columns_2017 - common_columns,
        '2018': columns_2018 - common_columns,
        '2022': columns_2022 - common_columns,
        '2023': columns_2023 - common_columns,
        '2024': columns_2024 - common_columns
    }
    for year, cols in different_columns.items():
        print(f'Columns in {year} not in common: {cols}')
        common_columns_list = list(common_columns)
        #merge the columns that are the same
    df_simce_all_years = pd.concat([df_simce_2014[common_columns_list], df_simce_2015[common_columns_list], df_simce_2016[common_columns_list], df_simce_2017[common_columns_list], df_simce_2018[common_columns_list], df_simce_2022[common_columns_list], df_simce_2023[common_columns_list], df_simce_2024[common_columns_list]], ignore_index=True)
    print('Dataframes merged successfully.')

Common columns across all years: {'palu_eda_ele_mate4b_rbd', 'agno', 'palu_eda_ade_lect4b_rbd', 'marca_mate4b_rbd', 'noaplica', 'cod_com_rbd', 'difgru_mate4b_rbd', 'nom_rbd', 'dvrbd', 'dif_lect4b_rbd', 'palu_eda_ade_mate4b_rbd', 'cod_pro_rbd', 'nalu_lect4b_rbd', 'grado', 'cod_depe2', 'sigdif_mate4b_rbd', 'palu_eda_ins_lect4b_rbd', 'difgru_lect4b_rbd', 'siggru_mate4b_rbd', 'dif_mate4b_rbd', 'palu_eda_ins_mate4b_rbd', 'marca_lect4b_rbd', 'sigdif_lect4b_rbd', 'nom_reg_rbd', 'cod_reg_rbd', 'prom_mate4b_rbd', 'marcadif_mate4b_rbd', 'nalu_mate4b_rbd', 'siggru_lect4b_rbd', 'nom_pro_rbd', 'palu_eda_ele_lect4b_rbd', 'cod_depe1', 'cod_grupo', 'rbd', 'nom_com_rbd', 'prom_lect4b_rbd', 'marcadif_lect4b_rbd', 'cod_rural_rbd'}
Number of common columns: 38
Columns do not match across all years. Cannot directly merge dataframes.
Columns in 2014 not in common: {'nom_reg_rbd_2014', 'codigo_bbdd', 'marca_eda_soc4b_rbd', 'nom_pro_rbd_2014', 'nom_deprov_rbd', 'palu_eda_ade_soc4b_rbd', 'cod_com_rbd_2014', 'prom_soc4b_rbd', 'marcadif_soc4b_rbd', 'dif_soc4b_rbd', 'cod_pro_rbd_2014', 'palu_eda_ele_soc4b_rbd', 'palu_eda_ins_soc4b_rbd', 'nom_com_rbd_2014', 'siggru_soc4b_rbd', 'marca_soc4b_rbd', 'difgru_soc4b_rbd', 'marca_eda_lect4b_rbd', 'nalu_soc4b_rbd', 'cod_reg_rbd_2014', 'fecha_bbdd', 'marca_eda_mate4b_rbd', 'nom_deprov_rbd_2014', 'sigdif_soc4b_rbd'}
Columns in 2015 not in common: {'nom_deprov_rbd', 'codigo_bbdd', 'fecha_bbdd', 'cod_deprov_rbd'}
Columns in 2016 not in common: {'nom_deprov_rbd', 'codigo_bbdd', 'fecha_bbdd'}
Columns in 2017 not in common: set()
Columns in 2018 not in common: {'nom_deprov_rbd', 'codigo_bbdd', 'fecha_bbdd', 'cod_deprov_rbd'}
Columns in 2022 not in common: {'nom_deprov_rbd', 'codigo_bbdd', 'fecha_bbdd', 'cod_deprov_rbd'}
Columns in 2023 not in common: {'nom_deprov_rbd', 'codigo_bbdd', 'fecha_bbdd', 'cod_deprov_rbd'}
Columns in 2024 not in common: {'nom_deprov_rbd', 'codigo_bbdd', 'fecha_bbdd', 'cod_deprov_rbd'}
Dataframes merged successfully.

In [38]:
df = df_simce_all_years
df.describe()

,palu_eda_ele_mate4b_rbd,agno,palu_eda_ade_lect4b_rbd,cod_com_rbd,difgru_mate4b_rbd,dvrbd,dif_lect4b_rbd,palu_eda_ade_mate4b_rbd,cod_pro_rbd,nalu_lect4b_rbd,palu_eda_ins_lect4b_rbd,difgru_lect4b_rbd,dif_mate4b_rbd,palu_eda_ins_mate4b_rbd,cod_reg_rbd,prom_mate4b_rbd,nalu_mate4b_rbd,palu_eda_ele_lect4b_rbd,rbd,prom_lect4b_rbd
count,44360.000000,59189.000000,44328.000000,59189.000000,49428.000000,59189.000000,48101.000000,44360.000000,59189.000000,58487.000000,44328.000000,49416.000000,48119.000000,44360.000000,59189.000000,54820.000000,58487.000000,44328.000000,59189.000000,54856.000000
mean,34.287193,2018.543513,34.798946,6924.199294,-1.899672,4.480647,1.556392,18.854612,47.044518,29.274163,29.960959,-1.196596,0.982647,37.881506,9.005643,244.972601,29.451451,26.191565,9610.434152,258.037571
std,15.888895,3.594657,20.736994,5106.261046,20.248251,2.881179,19.208006,17.755270,52.677725,30.130788,19.483667,18.574622,19.037830,23.871446,3.611760,44.664989,30.342481,12.511650,8201.773237,44.608976
min,0.000000,2014.000000,0.000000,1.000000,-141.000000,0.000000,-118.000000,0.000000,1.000000,0.000000,0.000000,-133.000000,-118.000000,0.000000,1.000000,0.000000,0.000000,0.000000,5.000000,0.000000
25%,26.500000,2015.000000,20.500000,48.000000,-14.000000,2.000000,-9.000000,5.600000,1.000000,6.000000,15.400000,-12.000000,-9.000000,19.000000,6.000000,230.000000,6.000000,20.000000,3448.000000,245.000000
50%,36.800000,2017.000000,34.400000,7401.000000,0.000000,4.000000,0.000000,14.300000,7.000000,21.000000,29.000000,0.000000,0.000000,38.500000,9.000000,249.000000,21.000000,27.500000,7496.000000,263.000000
75%,45.100000,2022.000000,48.700000,11101.000000,10.000000,7.000000,12.000000,27.500000,91.000000,40.000000,43.200000,9.000000,11.000000,55.600000,13.000000,268.000000,40.000000,34.000000,12682.000000,280.000000
max,85.700000,2024.000000,100.000000,16305.000000,108.000000,9.000000,137.000000,100.000000,163.000000,284.000000,100.000000,124.000000,113.000000,100.000000,16.000000,376.000000,282.000000,80.000000,42261.000000,396.000000

In [24]:
cols = [
    "agno",
    "cod_com_rbd", "nom_com_rbd",
    "cod_reg_rbd", "nom_reg_rbd",
    "prom_lect4b_rbd", "prom_mate4b_rbd"
]

df = df[cols].copy()

In [25]:
df = df.dropna(subset=[
    "cod_com_rbd",
    "prom_lect4b_rbd",
    "prom_mate4b_rbd"
])

In [26]:
df["cod_com_rbd"] = df["cod_com_rbd"].astype(int)
df["agno"] = df["agno"].astype(int)
df["prom_lect4b_rbd"] = df["prom_lect4b_rbd"].astype(float)
df["prom_mate4b_rbd"] = df["prom_mate4b_rbd"].astype(float)

In [27]:
df_rm = df[df["cod_reg_rbd"] == 13].copy()

In [28]:
df_rm["nom_reg_rbd"].unique()

array(['REGIÓN METROPOLITANA', 'METROPOLITANA DE SANTIAGO',
       'REGION METROPOLITANA DE SANTIAGO', 'Región Metropolitana de Sant'],
      dtype=object)

In [29]:
df_comunas = df_rm.groupby(
    ["cod_com_rbd", "nom_com_rbd"]
).agg({
    "prom_lect4b_rbd": "mean",
    "prom_mate4b_rbd": "mean"
}).reset_index()

In [30]:
import geopandas as gpd

comunas = gpd.read_file("comunas.shp")

In [31]:
comunas.columns

Index(['objectid', 'shape_leng', 'dis_elec', 'cir_sena', 'cod_comuna',
       'codregion', 'st_area_sh', 'st_length_', 'Region', 'Comuna',
       'Provincia', 'geometry'],
      dtype='object')

In [32]:
comunas_rm = comunas[comunas["codregion"] == 13].copy()

In [33]:
comunas_rm["COD_COM"] = comunas_rm["cod_comuna"].astype(int)

In [34]:
geo = comunas_rm.merge(
    df_comunas,
    left_on="cod_comuna",
    right_on="cod_com_rbd",
    how="left"
)

In [ ]:
import ipywidgets as widgets
import matplotlib.pyplot as plt

selector = widgets.Dropdown(
    options={
        "Lectura (promedio 2014–2024)": "prom_lect4b_rbd",
        "Matemática (promedio 2014–2024)": "prom_mate4b_rbd",
    },
    value="prom_lect4b_rbd",
    description="Asignatura:"
)

In [36]:
def plot_rm(columna):
    fig, ax = plt.subplots(figsize=(10, 10))

    geo.plot(
        column=columna,
        cmap="viridis",
        legend=True,
        edgecolor="black",
        linewidth=0.4,
        ax=ax
    )

    ax.set_title(
        f"SIMCE 4° Básico - Región Metropolitana\nPromedio histórico 2014–2024",
        fontsize=14
    )

    ax.axis("off")
    plt.show()

In [ ]:
widgets.interact(
    plot_rm,
    columna=selector
)

interactive(children=(Dropdown(description='Asignatura:', options={'Lectura (promedio 2014–2024)': 'prom_lect4…